@tailwind base;
@tailwind components;
@tailwind utilities;

input{
    border: 1px solid black;    
}

th{
    background-color: aquamarine;
}

body{
    background-color: navajowhite;
}

table{

    background-color: beige;
}

tr{

    border: 1px solid black; 
}

th{

    border: 1px solid black; 
}

td{

    border: 1px solid black; 
    padding: 10px;
}

label{

    margin-bottom: 0;
    margin-top: 0;
}

input{

    margin-bottom: 0;
    margin-top: 0;
}